<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="utils.ExtentTestNGITestListener"/>
    </listeners>

    <test thread-count="5" name="E2E Checkout Test">
        <classes>
            <class name="pagesTests.LoginPageTest"/>
            <class name="pagesTests.AddToCartPageTest"/>
            <class name="pagesTests.CheckoutPageTest"/>
            <class name="pagesTests.LogoutTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->
